<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793664704474-jddi0j8obsjtdb4odvb0vdf84jf4ove1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793664704474-jddi0j8obsjtdb4odvb0vdf84jf4ove1</string>
	<key>API_KEY</key>
	<string>AIzaSyCQdWM7LB7_yRlj4RYg02VlPDjY1xiSFcA</string>
	<key>GCM_SENDER_ID</key>
	<string>793664704474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JerryRen.Connecto</string>
	<key>PROJECT_ID</key>
	<string>connecto-ae4bf</string>
	<key>STORAGE_BUCKET</key>
	<string>connecto-ae4bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793664704474:ios:62d48f7fc491fc4ed8fae3</string>
	<key>DATABASE_URL</key>
	<string>https://connecto-ae4bf.firebaseio.com</string>
</dict>
</plist>